@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --text-color: #414141;
    --text-hover-color: #999999;
    --highlight-color: #45C2BC;
  }
}

@font-face {
  font-family: 'Chicago';
  /*src: url('../public/fonts/ChicagoFLF.ttf');*/
  src: url('../public/fonts/TRClapton.ttf');
  font-weight: bold;
  font-style: normal;
}

body {
  color: var(--text-color);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  font-size: 9rem;
  font-weight: 700;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Animation Keyframes */
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}