.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.homeTitle {
    font-family: 'Chicago', sans-serif;
}

.iconsGradientOne {
    font-size: 10rem;
    background: linear-gradient(130deg, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
/*    set a gap of 5 px between each element */
}

.iconRow {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.iconRowSmall {
    display: flex;
    justify-content: space-between;
    font-size: 5rem;
}
