.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.homeTitleContainer {
    position: relative;
    text-align: center;
    animation: fade-down 0.5s;
}

.homeTitle {
    /*font-family: 'Chicago', sans-serif;*/
}

.iconsGradientOne {
    font-size: 9rem;
    background: linear-gradient(130deg, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.iconRow, .iconRowLarge, .iconRowSmall {
    display: flex;
    justify-content: space-between;
}

.iconRowLarge {
    font-size: 12rem;
}

.iconRowSmall {
    font-size: 4rem;
}

.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.visible {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

/*@keyframes fade-down {*/
/*    0% {*/
/*        opacity: 0;*/
/*        transform: translateY(-30px) scale(0.9);*/
/*    }*/

/*    100% {*/
/*        opacity: 1;*/
/*        transform: translateY(0px) scale(1);*/
/*    }*/
/*}*/
